<nav class="navbar navbar-dark bg-dark fixed-top" >
    <div class="container-fluid">
      
      <a class="navbar-brand" >Nautico</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" 
      data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"  ></span>
        
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" 
      aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nautico</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Mostrar empleados</a>
              </li> 
              <li class="nav-item">
                  <a class="nav-link" href="/nuevoempleado">Nuevo Empleado</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/mostrarPro">Mostrar Producto</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/nuevoPro">Nuevo Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/historial">Historial</a>
                </li>
          </ul>
          <form class="d-flex" action="/buscarEmpleado" method="post" role="search">
            <input name="empleado" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar Empleados</button>
        </form>
        <form class="d-flex" action="/buscarProducto" method="post" role="search">
            <input name="nombre" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar Productos</button>
        </form>
        
      </div>
  </div>
 
</nav>

